@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info">
	<h2>Contact us</h2>
	Come on, we are waiting... Ah, no email or phone is present. And will never be...
    
</div>
