@using TimeTracker.Models;

           
@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create tasks, edit existing ones or delete any</h2>
<div class="sidebar">
	<a href="/Admin/Task/Create"><div id="createUser">Create a task<span>&raquo;</span></div></a>
    <a href="/Admin/Task/Edit"><div id="editUser">Edit/Delete a task<span>&raquo;</span></div></a>
</div>

@if (ViewBag.Operation == "Edit")
{
    @Html.Partial("_EditTask")
}
@if (ViewBag.Operation == "Create")
{
    @Html.Partial("_AddTask")
}